body {
    background-color: #f8f9fa;
    height: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 180px; /* отступ контейнера и шапки */
}

.product {
    width: calc(50% - 20px);
    height: 277px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .product img {
        width: 100%;
        height: 120px; 
        object-fit: contain;
        object-position: center;
    }

.product-content {
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-title {
    width: 100%;
    height: 20px;
    margin-bottom:20px;
    font-size: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
    white-space: normal; 
}

.product-price {
    font-weight: bold;
    text-align: center; 
    font-size: 15px;
}

.buy-btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    
}

/* шапка*/
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 1px;
    flex-direction: column;
    box-shadow: 0px 3px 7px #e1e1e1;
    height: 17.5%;
    padding-top: 1%;
}

.logo {
    width: 87%;
    height: 55%;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

    .logo img {
        margin-top: 10%;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 3px;
    }

.basket_balance {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 7px;
    align-items: center;
    justify-content: center;
}

.basket {
    text-decoration: none;
    color: #333;
    margin-left: 20%; /*отступ между элементами */
}

    .basket img {
        height: 40px;
        
    }

.balance {
    
    font-weight: bold;
    font-size: 16px;
}

/*Медиа-запросы для устройств маленьких */
@media (max-width: 350px) {
    .product {
        width: 100%; /* для 1 в ряд */
        height: auto;
    }

    .container {
        padding-top: 160px;
    }

    .basket {
        margin-right: 10px;
    }

    .balance {
        margin-left: 5%;
    }
}
/* медиа для se */
@media (min-width: 351px) and (max-width: 389px) {
    .product {
        width: calc(50% - 5px); /* для 2 в ряд */
        height: 280px;
    }

    .container {
        padding-top: 150px;
    }
}

/* Медиа-запросы для большх экранов */
@media (min-width: 550px) and (max-width: 1000px) {
    .product {
        width: calc(33.33% - 20px); /* для 3 в ряд */
        height: 260px;
    }

    .container {
        padding: 20px;
    }

    .header {
        height: 20%;
    }

    .container {
        padding-top: 32%;
    }

    .basket {
        margin-left: 50%;
    }
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .product {
        width: calc(33.33% - 20px); /* для 3 в ряд */
        height: 260px;
    }

    .container {
        padding: 20px;
    }

    .header {
        height: 20%;
    }

    .container {
        padding-top: 300px;
    }

    .basket {
        margin-left: 50%;
    }
}

@media (min-width: 1300px) {
    .product {
        width: calc(25% - 20px); /* для 4 в ряд */
        height: 280px;
        margin-right: 20px; 
    }

        .product:nth-child(4n) {
            margin-right: 0; 
        }

    .container {
        padding: 20px;
    }

    .header {
        height: 20%;
    }

    .container {
        padding-top: 12%;
    }

    .basket {
        margin-left: 33%;
    }

        .basket img {
            height: 50px;
        }
}




    



